{% block form_errors %}
    <div class="container">
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <p class="text-danger"><i class="fa fa-times"></i> {{ error.message }}</p>
                {% endfor %}
            </ul>
        {% endif %}


    {% endspaceless %}




    </div>


{% endblock form_errors %}

